<%= link_to "Log out", '/logout', method: :delete %>

<h1>Team Name</h1>

<div>
	<%= simple_form_for @person do |f| %>
			<%= f.input :name, label: "Name" %>
			<%= f.input :email, label: "Email" %>
			<%= f.submit 'Add Teammate' %>
	<% end %>
<div>

<div>
	<table>
		<tr>
			<td>First Name</td>
			<td>Last Name</td>
			<td>Email</td>
		</tr>
	</table>
</div>


