<div class="row">
	<h1>Team Name</h1>
	<h3><%= link_to "Log out", '/logout', method: :delete %></h3>
</div>

<div class="row">
	<%= simple_form_for @teammate do |f| %>
			<%= f.simple_fields_for :person do |p| %>
				<%= p.input :name, label: "Name" %>
				<%= p.input :email, label: "Email" %>
			<% end %>
				<%= f.submit 'Add Teammate' %>
	<% end %>
<div>

<div class="row">
	<%= form_tag import_teammates_path, multipart: true do %>
  	<%= file_field_tag :file %>
  	<%= submit_tag "Import CSV" %>
	<% end %>
</div>

<div class="row">
	<table>
		<tr>
			<td>Name</td>
			<td>Email</td>
		</tr>
		<% @teammates.each do |teammate| %>
			<tr>
				<td><%= teammate.name %></td>
				<td><%= teammate.email %></td>
			</tr>
		<% end %>
	</table>
</div>


