<!DOCTYPE html>
<html>
<head>
  <title>UbersenseLaunchAcademy</title>

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <!-- Favicon -->
  <%= favicon_link_tag "global/favicon.ico", :type => 'image/ico' %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "#{name} alert-box" %>
<% end -%>

<%= yield %>

</body>
</html>